openstack_auth_url          = "https://auth.pscloud.io/v3"
openstack_user_name         = "your-username"
openstack_password          = "your-password"
openstack_tenant_name       = "your-tenant"
openstack_tenant_id         = "your-tenant-id"
openstack_user_domain_name  = "Default"
openstack_project_domain_id = "default"
openstack_region            = "kz-ast-1"

image_name       = "AlmaLinux-10-x86_64-202510"
key_pair_name    = "rokko"
network_name     = "private-net"
floating_ip_pool = "FloatingIP Net"
volume_type      = "ceph-ssd"
flavor_name      = "d1.ram8cpu2"
