frontend/jetistik-your-certificates-verified-94-main/node_modules
frontend/jetistik-your-certificates-verified-94-main/.git
frontend/jetistik-your-certificates-verified-94-main/.cache
frontend/jetistik-your-certificates-verified-94-main/dist/.vite
**/__pycache__
**/*.pyc
.DS_Store
