DEBUG=1
SECRET_KEY=dev-secret-key-change-me
ALLOWED_HOSTS=127.0.0.1,localhost
PUBLIC_BASE_URL=http://localhost:8000

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
# Если без redis, можно включить eager (тогда генерация будет синхронной)
CELERY_TASK_ALWAYS_EAGER=0

# Storage (MVP: local media)
MEDIA_ROOT=/app/media
MEDIA_URL=/media/
